@import "tailwindcss";




/* ═══════════════════════════════════════════════════════════ */
/* 🔤 FUENTES PERSONALIZADAS - Cormorant SC                    */
/* ═══════════════════════════════════════════════════════════ */

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/CormorantSC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/CormorantSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/CormorantSC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/CormorantSC-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('/fonts/CormorantSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}









@font-face {
  font-family: 'Romantic Lovely';
  src: url('/fonts/Romantic Lovely.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Upcii';
  src: url('/fonts/upcii.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Upcil';
  src: url('/fonts/upcil.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Para el nombre */
.font-great-vibes {
  font-family: 'Great Vibes', cursive !important;
}

/* Para nombres con Romantic Lovely */
.font-romantic {
  font-family: 'Romantic Lovely', cursive !important;
}

/* Para títulos con Upcii */
.font-upcii {
  font-family: 'Upcii', serif !important;
}

/* Para títulos con Upcil */
.font-upcil {
  font-family: 'Upcil', serif !important;
}

/* Para mis XV años */
.font-crimson {
  font-family: 'Crimson Text', serif !important;
}

/* Para dedicatoria*/
.font-cormorant {
  font-family: 'Cormorant Garamond', serif !important;
}

/*Para texto con Charm */
.font-charm {
  font-family: 'Charm', cursive !important;
}